*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
npm-debug.log
yarn-error.log
phpunit.txt
_ide_helper*.*
docker/
laradock/
deploy.php
*.tgz
*.zip
*.rar
*.7z
*.lock